
<div [hidden]="overlayHidden" class="debug-overlay-container">
  <span class="debug-hello">{{title}}</span>

  <div class="debug-position">
    <div class="debug-position-row">
      <span>X:</span>
      <span>{{position.x}}</span>
    </div>
    <div class="debug-position-row">
      <span>Y:</span>
      <span>{{position.y}}</span>
    </div>
    <div class="debug-position-row">
      <span>Z:</span>
      <span>{{position.z}}</span>
    </div>
  </div>

  <div class="debug-fps"><span>FPS: {{fps}}</span></div>
</div>